$white-1: #e6e6e0;
$white-2: #f1f1ee;

.content#contact{

    form {
        margin: 10%;
        
        @media #{$desktop} {
            margin: 2% 20% 10% 20%;    
        }

        label{
            font-size: 200%;
        }

        input[type=submit] {
            display: block;
            font-size: 300%;
            padding: 5px;
            margin: 25px 0 5px 0;
            box-sizing: border-box;
            font-weight: bold;
            background: $purple;
            color: $white-2;
            border: 2px solid $black;
            border-radius: 10px;
            text-align: center;
            width: 100%;
            
            @media #{$desktop} {
                font-size: 200%;
            }
        }
        input[type=text], input[type=email] {
            @extend input[type=submit];
            
            margin: 5px 0 15px 0;
            text-align: left;
            font-weight: normal;
            color: black;
            background-color: $white-2;
            border-radius: 5px;
        }

        textarea{
            @extend input[type=text];
            height: 400%;
        }


        input:focus, textarea:focus {
            border: 3px solid $purple;
        }

        input[type=submit]:hover {
            background: $white-2;
            color: $purple;
        }
    }
}

