.content#CV {
    h2 {
        font-size: 200%;
        text-align: center;
        color: $purple;
        margin: 10px 0 30px 0;
    }
    
    p {
        width: 100%;
        text-align: center;
        margin: 5% 0;
    }
}