@font-face {
    font-family: 'AlexBrush';
    src: url('../fonts/AlexBrush-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Allura';
    src: url('../fonts/Allura-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Daniel';
    src: url('../fonts/daniel.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Blackout';
    src: url('../fonts/Blackout-Midnight.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BlackoutInverse';
    src: url('../fonts/Blackout-2am.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Goodfoot';
    src: url('../fonts/goodfoot.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Blokletters-Balpen';
    src: url('../fonts/Blokletters-Balpen.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Hetilica';
    src: url('../fonts/hetilica.ttf');
    font-weight: normal;
    font-style: bold;
}
@font-face {
    font-family: 'WC';
    src: url('../fonts/WCManoNegraBta.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Scratch';
    src: url('../fonts/Scratch.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NovitoNova';
    src: url('../fonts/NovitoNova-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
