html {
    body {
        header {
            //see _header.scss
        }
        
        > main { //CONTENT SECTION

        }
        
        footer {
            bottom: 0;
            height: 2em;
            font-size: 2em;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            position: static;         
            flex-direction: column;
            
            @media #{$desktop}, #{$laptop} {
                position: absolute;
                flex-direction: row;
                height: 10%;
            }
            a {
                
                //display: block;
                box-sizing: border-box;
                border: 3px solid $white;
                border-radius: 20px;
                //padding: 5px;
                margin: 10px 10%;
                width: 60%;
                text-align: center;
                color: $white;
                
                &:nth-child(1):hover {
                    border-color: $facebook-blue;
                    color: $facebook-blue;
                }
                &:nth-child(2):hover {
                    border-color: $github-gray;
                    color: $github-gray;
                }
                &:nth-child(3):hover {
                    border-color: $gmail-red;
                    color: $gmail-red;
                }
            }
        }
            
        
    }
}