/* Variables */
$black: #111111;
$white: #fff9ff;
$gray: #e4e0e5;
$purple: #392a6d;
$green: #033;
$yellow: #fff247;// //fff9ff
$facebook-blue:  #3B5998;
$gmail-red: #CC181E;
$background-black: #222428;

$font: Helvetica,Arial,sans-serif;

$tablet: "(min-width: 481px) and (max-width: 768px)";
$laptop: "(min-width: 768px) and (max-width: 1280px)";

$desktop: "(min-width: 1280px)";

@import 'header';
@import 'footer';
@import 'fonts';
@import 'contact';
@import 'hobbies';
@import 'portfolio';

html {
    height: 100%;

    body {
        height: 100%;
        font-family: 'Nunito','Droid Sans', sans-serif; //TODO: decide what to do with font
        
        background-color: $black;
        //background-image: url(../images/background_small.jpg);
        background-image: url(../images/hue1.png);
        background-repeat: no-repeat;
        //background-size: cover;
        
        @media #{$desktop} {
            //background-image: url(../hue/26.png);
            //background-image: url(../hue/28.png);
            background-image: url(../hue/43-Black%20Sands.png);
        }

        a { //TODO find other place
            text-decoration: none;
        }
    
        header {
            //see _header.scss
        }
        
        > main#homepage { //CONTENT SECTION HOMEPAGE | TODO: merge
            width: 100%;
            overflow: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $white;
            text-align: center;
            //margin-top: 10%;
            
            
            h1 {
                @media #{$desktop},#{$laptop} {
                    display: block;  
                }
                font-size: 5em;
                font-family: BlackoutInverse;
            }
            
            
        }
        > main#portfolio {
            //background-color: rgba(255,255,255,0.8);
            color: $black;
        }

        > main#about {
            p {
                //background-color: rgba(255,255,255,0.1);
                color: $white;
                margin: 5% 0;
                text-align: left;
                
                @media #{$desktop},#{$laptop} {
                    color: $black;
                    margin: 0 30%;
                    text-align: center;
                }
            }
            
        }
        
        > main { //CONTENT SECTION
            width: 100%;
            //overflow: auto;            
            color: $white;
            text-align: center;
            padding-top: 5px;
            height: 100%;

            
            > h1 {
                @media #{$desktop},#{$laptop} {
                    display: none;  
                }
                font-size: 5em;
                font-family: BlackoutInverse
            }
            
            //about styling below
            > p{
                padding: 0 5%;
            }

            > picture {
                text-align: center;
                
                img {
                    border: 5px solid #FFF;
                    box-shadow: 0px 0px 5px #CCC;
                    margin-bottom: 2%;
                    border-radius: 50%;
                    
                    @media #{$desktop},#{$laptop} {
                        margin-top: 30px; //TODO: find uniformity
                    }
                    
                }
                

            }
            
        }
        
        .form-control {
            
          border: 1px solid $black;
          border-radius: .15em;

          padding: 5px;
          margin-top: 10px;

          background: white;
          color: $black;
        }
        
        footer {
            //see _footer.scss
        }
    }
}