/* Variables */
$black: #111111;
$white: #fff9ff;
$gray: #e4e0e5;
$purple: #392a6d;
$green: #033;
$yellow: #fff247;
$facebook-blue:  #3B5998;
$gmail-red: #CC181E;

$font: Helvetica,Arial,sans-serif;

$tablet: "(min-width: 481px) and (max-width: 768px)";
$desktop: "(min-width: 769px)";

$images: "../images/";

@import 'homepage';
/*
@import 'about';
@import 'i1talent';
@import 'CV';
@import 'portfolio';
@import 'hobbies';
@import 'links';
@import 'contact';
*/

@font-face {
    font-family: 'AlexBrush';
    src: url('../fonts/AlexBrush-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Allura';
    src: url('../fonts/Allura-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Daniel';
    src: url('../fonts/daniel.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Blackout';
    src: url('../fonts/Blackout-Midnight.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BlackoutInverse';
    src: url('../fonts/Blackout-2am.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Goodfoot';
    src: url('../fonts/goodfoot.ttf');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;

    body {
        height: 100%;
        background-color: $white;
        font-family: 'Nunito','Droid Sans', sans-serif; //TODO: decide what to do with font
        margin: 0;
        padding: 0;
        
        
        a { //TODO find other place
            text-decoration: none;
        }
        
        header {
            width: 100%;
            background-color: $green;

            > div { //topbar section
                font-size: 2em;
                padding: 10px;
                i {
                    //width: 10%;
                    box-sizing: border-box;
                    float: right;
                    color: $yellow;
                    text-align: center;
                }

                h1 {
                    //font-size: 1.5em;
                    width: 80%;
                    box-sizing: border-box;
                    font-family: Goodfoot;
                    color: $gray;
                    padding-left: 10px;
                }
            }


            > nav { 
                display: none;
                ul {
                    padding: 10px 0;
                    li {
                        font-size: 1.5em;
                        margin: 10px 40px 10px 40px;
                        border-bottom: 1px solid $white;
                        list-style: none;
                        padding-left: 5px;
                        &:hover {
                            padding-left: 20px;    
                        }

                        a {

                            color: $white;




                            &:visited {
                                color: $white;
                            }    
                        }
                    }
                }
            }

            //ANIMATION

            &:hover, &:focus {
                nav {
                    display: block;
                }
            }
            
        }
        
        > div#homepage { //CONTENT SECTION HOMEPAGE | TODO: merge
            width: 100%;
            overflow: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            
            color: $black;
            text-align: center;
            //margin-top: 10%;
            
            
            h1 {
                font-size: 5em;
                font-family: BlackoutInverse
            }
            
            
        }
        
        > div { //CONTENT SECTION
            width: 100%;
            overflow: auto;            
            color: $black;
            text-align: center;
            padding-top: 5px;
            height: 100%;

            
            h1 {
                font-size: 5em;
                font-family: BlackoutInverse
            }
            
            > div { //SUB-CONTENT SECTION
                width: 100%;
                
                p{
                    padding: 0 5%;
                }
                                
                picture {
                    text-align: center;
                    
                    img {
                        margin-bottom: 5%;
                    }
                }
            }
            
            form {
                padding: 0 10%;
                
                input[type=submit] {
                    display: block;
                    font-size: 2em;
                    padding: 5px;
                    margin: 25px auto 5px auto;
                    box-sizing: border-box;
                    font-weight: bold;
                    background: $purple;
                    color: $white;
                    border: 2px solid $black;
                    border-radius: 10px;
                    text-align: center;
                    width: 100%;
                }
                input[type=text], input[type=email] {
                    @extend input[type=submit];

                    margin: 5px auto 15px auto;
                    text-align: left;
                    font-weight: normal;
                    color: black;
                    background-color: $white;
                    border-radius: 0;
                    border-width: 0 0 1px 0; 
                }

                textarea{
                    @extend input[type=text];
                    height: 400%;
                }


                input:focus, textarea:focus {
                    outline: 0;
                    border-bottom-color: $purple;
                    border-bottom-width: 2px;
                }
                
                input[type=submit]:hover {
                    background: $white;
                    color: $purple;
                }
            }
            
            .project {
                text-align: center;
                h3 {
                    font-size: 80%;
                    margin: 10px 0;
                }
            }
            
            > h2 {
                font-size: 150%;
                text-align: center;
                color: $purple;
                margin-bottom: 30px;
            }
            
        }


        
        /*footer {
            height: 2em;
            position: absolute;
            bottom: 0;
            width: 100%;

            //display: flex;
            //justify-content: space-around;
            //align-items: center;
            font-size: 2em;
            padding: 5px 0;
            margin-top: 10%;
            background-color: $green;
            a {
                i, i:visited {
                    color: $gray;
                    &:hover {
                        color: $yellow;
                    }
                }
            }
            
        }*/
        
        footer#homepage { //TODO: merge
            height: 10%;
            position: inherit;
            padding: 0 5%;
            width: 100%;
            box-sizing: border-box;
            font-size: 2em;
            margin: 10% auto;
            a {
                display: block;
                box-sizing: border-box;
                border: 3px solid $green;
                border-radius: 20px;
                padding: 5px;
                margin: 10px auto;
                width: 70%;
                text-align: center;
                color: $green;

                &:nth-child(1):hover {
                    border-color: $facebook-blue;
                    color: $facebook-blue;
                }
                &:nth-child(2):hover {
                    border-color: $black;
                    color: $black;
                }
                &:nth-child(3):hover {
                    border-color: $gmail-red;
                    color: $gmail-red;
                }
            }
        }
            
        
    }
}







