/* Variables */
$black: #111111;
$white: #e4e0e5;
$purple: #392a6d;
$green: #033;
$yellow: #fff247;

$font: Helvetica,Arial,sans-serif;

$tablet: "(min-width: 481px) and (max-width: 768px)";
$desktop: "(min-width: 769px)";

$images: "../images/";

@import 'homepage';
/*
@import 'about';
@import 'i1talent';
@import 'CV';
@import 'portfolio';
@import 'hobbies';
@import 'links';
@import 'contact';
*/

html {
    height: 100%;

    body {
        height: 100%;
        a {
            text-decoration: none;
        }
    }
}

header {
    width: 100%;
    height: 10%;
    //font-size: 2em;
    background-color: $black;
    
    > div { //topbar section
        i {
            width: 20%;
            box-sizing: border-box;
            float: right;
            color: $white;
            text-align: center;
        }
        
        h1 {
            width: 80%;
            box-sizing: border-box;
            color: $yellow;
            
        }
    }
    
      
    > nav { 
        display: none;
        ul {
            li {
                a {
                    color: $white;
                    &:visited {
                        color: $white;
                    }    
                }
            }
        }
    }
    
    //ANIMATION
    
    &:hover {
        nav {
            display: block;
        }
    }
}




div.content {
    height: 80%;
    width: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 10%;
    background-color: $black;
    
    > div { //icons
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        a {
            i, i:visited {
                color: $white;
                &:hover {
                    color: $yellow;
                }
            }
        }
    }
}
