/* Coolors Exported Palette - coolors.co/022b3a-fef9ff-211f1f-41337a-989fce */

$color1: #022b3a; //rgba(2, 43, 58, 100)
$color2: #fef9ff; //rgba(254, 249, 255, 100)
$color3: #211f1f; //rgba(33, 31, 31, 100)
$color4: #41337a; //rgba(65, 51, 122, 100)
$color5: #989fce; //rgba(152, 159, 206, 100)