/* Coolors Exported Palette - coolors.co/002a3a-e4e0e5-111111-392a6d-fff247 */

$color1: #002a3a; //rgba(0, 42, 58, 100)
$color2: #e4e0e5; //rgba(228, 224, 229, 100)
$color3: #111111; //rgba(17, 17, 17, 100)
$color4: #392a6d; //rgba(57, 42, 109, 100)
$color5: #fff247; //rgba(255, 242, 71, 100)