/* Coolors Exported Palette - coolors.co/022b3a-fef9ff-111111-392b6d-6b6d76 */

$color1: #022b3a; //rgba(2, 43, 58, 100)
$color2: #fef9ff; //rgba(254, 249, 255, 100)
$color3: #111111; //rgba(17, 17, 17, 100)
$color4: #392b6d; //rgba(57, 43, 109, 100)
$color5: #6b6d76; //rgba(107, 109, 118, 100)