/* Coolors Exported Palette - coolors.co/173753-6daedb-52758c-1b4353-f2ff4a */

$color1: #173753; //rgba(23, 55, 83, 100)
$color2: #6daedb; //rgba(109, 174, 219, 100)
$color3: #52758c; //rgba(82, 117, 140, 100)
$color4: #1b4353; //rgba(27, 67, 83, 100)
$color5: #f2ff4a; //rgba(242, 255, 74, 100)